/*───────────────────────────────────

✦ P R I M A R Y   S I M P L I F I E D ✦

an independently maintained Obsidian theme fork
maintained by voitech

Based on Primary by Cecilia May:
https://github.com/primary-theme/obsidian

Primary Simplified is not affiliated with or
endorsed by the original author.

Modified and rebranded on 2026-06-22.

────────────────────────────────────

A combination of Bauhaus, Scandinavian
and yellowing magazine pages as palette
inspiration—Primary is a theme for people
looking for a certain nostalgic warmness.

It is toppled with functional pop
of red blue yellow colors.
The perfect mix of loud and reserved.

Playful, reminiscing, productive.

Obsidian October 2021 Best Theme 🏆

────────────────────────────────────

Original Primary by Cecilia May:
X: @ceciliamay_
GitHub: @ceciliamay

Original author's Ko-fi:
https://ko-fi.com/ceciliamay

Original Primary forum thread:
https://forum.obsidian.md/t/primary-theme/26687

────────────────────────────────────

CODE STRUCTURE
    1. General (overrides, spacing, sizing, radius, shape, fonts, animation)
    2. Specific (usually colors, icons)
    3. Mobile Styling
    4. Light Theme
    5. Dark Theme

────────────────────────────────────

This theme is using the
GNU GENERAL PUBLIC LICENSE v3.

Primary Simplified is a modified version of
Primary. The source, modification notices,
and license are available in this repository.

Original Primary repository:
https://github.com/primary-theme/obsidian

────────────────────────────────────*/
