/*────────── Sidebar ──────────*/

// Sidebar Buttons
.nav-header {
    padding: 0px var(--size-4-2) 0px var(--size-4-2);
}

.nav-buttons-container {
    gap: var(--size-4-1);
    justify-content: left;
    padding-inline-start: var(--size-2-3);
    margin-top: var(--size-4-1);
    margin-bottom: var(--size-4-1);
}

.nav-action-button {
    padding: var(--size-2-3) var(--size-2-3);
}

// Vault Profile
body:not(.is-mobile) .workspace-split {
    .workspace-sidedock-vault-profile.workspace-sidedock-vault-profile {
        width: unset;
        background: var(--vault-name-background);
        padding: var(--size-2-2) var(--size-2-2);
        border: var(--vault-name-border);
        border-radius: var(--radius-m);
        margin: 0px var(--size-4-2) var(--editor-pane-margin);

        color: var(--vault-name-color);
    }
}
